<div style="padding: 10px">
  <a [routerLink]="['/user']"><button class="btn btn-warning">BACK</button></a><br>
</div>
<hr style="color:blue">
<div style="padding:10px">
  <ol type="1">
    <li *ngFor="let question of questions">
      {{question.questionText}}
      <br> 
      <div *ngFor="let option of question.options" style="padding: 10px">
        <div class="option">
          <clr-checkbox-wrapper>
          <input id="{{option.optionId}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option)" clrCheckbox/>
          <label [attr.for]="option.optionId">{{option.optionText}}</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
      <!--button [clrLoading]="submitBtnState" class="btn btn-success-outline" (click)="">SUBMIT ANSWER</button>-->
      <!--button class="btn btn-success" (click)="isCorrect(question)">SUBMIT ANSWER</button>
      <br><br>-->
      <br>
    </li>
  </ol>
</div>
<hr>
<div *ngIf="showResult" style="padding: 10px">
    <h4>Your Score: {{this.score}}</h4>
  </div>
<div style="padding-left: 10px">
  <button class="btn btn-success" (click)="calculateScore(); showResult=true">SUBMIT QUIZ</button>
</div>
<div style="padding: 10px">
    <a [routerLink]="['/user']"><button class="btn btn-warning">BACK</button></a><br>
</div>