<div class="clr-row" style="padding-left:25%; padding-top: 5%;">
  <div class="clr-col-lg-4 clr-col-12">
      <div class="card">
          <div class="card-block">
                <h3 class="card-title">One At a Time!</h3>
                <p class="card-text" style="text-align: justify">
                  In this option, questions will be presented one at a time and answer will be submitted on navigating to the next question.
                </p>
          </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-primary" (click)="perpageQuiz()">Take</button>
          </div>
      </div>
  </div>
  <div class="clr-col-lg-4 clr-col-12" >
      <div class="card">
          <div class="card-block">
              <h3 class="card-title">All together!</h3>
              <p class="card-text" style="text-align: justify">
                  In this option, all questions will be presented in a single page. Answers for all the questions will be submitted at once.
              </p>
          </div>
          <div class="card-footer">
              <button type="button" class="btn btn-primary" (click)="singlepageQuiz()">Take</button>
          </div>
      </div>
  </div>
</div>
