<div style="padding:10px">
<a [routerLink]="['/admin']"><button class="btn btn-warning">BACK</button></a>    
</div>
<hr>
<div style="padding: 10px">
    <h5 style="color: red">{{invalid}}</h5>
    <clr-input-container>
        <label>Quiz Name: </label><input type="text" clrInput #quizname>        
    </clr-input-container>
    <br>
    <div *ngIf="!clicked">
            <button class="btn btn-primary" (click)="createQuiz(quizname.value);">Create</button>
    </div>

    <div *ngIf="clicked">
    <form clrForm clrLayout="horizontal">
        <clr-input-container>
            <label>Question: </label><input type="text" #question clrInput/>
        </clr-input-container>
        
        <clr-input-container>
            <label>Option 1:</label>
            <br>
            <input type="text" #choice1 clrInput required>
        </clr-input-container>
        <clr-input-container>
            <label>Option 2:</label>
            <br>
            <input type="text" #choice2 clrInput required>            
        </clr-input-container>
        <clr-input-container>
            <label>Option 3:</label>
            <br>
            <input type="text" #choice3 clrInput required>
        </clr-input-container>
    <clr-radio-container clrInline>
        <label>Correct Option?</label>
        <br>
        <clr-radio-wrapper>
            <input type="radio" name="choices" (change)="checkboxone($event)"  clrRadio >
            <label>Option 1</label>
        </clr-radio-wrapper>
        
        <clr-radio-wrapper>
            <input type="radio" name="choices" (change)="checkboxtwo($event)" clrRadio >
            <label>Option 2</label>
        </clr-radio-wrapper>
        
        <clr-radio-wrapper>
            <input type="radio" name="choices" (change)="checkboxthree($event)" clrRadio > 
            <label>Option 3</label>
        </clr-radio-wrapper>
    </clr-radio-container>
        <br>
        <h5 style="color: red"> 
                {{questioninvalid}}
        </h5>
        <button [clrLoading]="validateBtnState" class="btn btn-info-outline" (click)="insertQuestion(question.value,choice1.value,choice2.value,choice3.value)">Validate</button>
        <!--button class="btn btn-success" (click)=insertOption(question.value,choice1.value,choice1torf.value,choice2.value,choice2torf.value,choice3.value,choice3torf.value)>Submit</button>-->
        <br>
        <div *ngIf="submit">
            <strong><h5 style="color: green">
                Click Next to Proceed...
            </h5></strong>
        </div>
        <button type="reset" class="btn btn-primary" (click)="submit=false;insertOption(choice1.value,choice2.value,choice3.value);">Next</button>
        <h5 style="color: red">
            {{validmsg}}
        </h5>
    </form>
    </div>
    <br>
    
</div>