
<div style="padding: 10px;">
    <a [routerLink]="['']"><button class="btn btn-warning">BACK</button></a>
</div>
<hr>
<div class="container" style="padding: 10px">
  <div style="width: 80%; left: 10%;position:sticky">
  <h3 style="color:dodgerblue"><strong>Welcome {{user}}!</strong></h3>
  <h4 >These are the quizes available.</h4>
  </div>
    <table class="table" style="width: 80%; left: 10%;position:sticky">
      <thead>
      <tr>
        <th>QUIZ ID</th>
        <th>QUIZ TITLE</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let quiz of quizes">
        <td style="padding-top: 3%">
          {{quiz.id}}
        </td>
        <td style="padding-top: 3%">
          {{quiz.quizName}}
        </td>
        <td>
          <button class="btn btn-success" (click) = "getQuestions(quiz.id)">Take</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
  <br>
  <br>